Repository boostcampaitech3/final-project-level3-cv-10, pull requests merged in 2022-06, with the labels that each got.

#81 [Feat] Add APIs using Youtube URL
  serving/backend/app/api/video.py
  serving/backend/app_laughter/api/laughter.py
Labels: Serving, BE

#84 [Feat] Modify frontend
  serving/frontend/src/App.js
  serving/frontend/src/components/DownloadPanel.js
  serving/frontend/src/components/Footer.js
  serving/frontend/src/components/Header.js
  serving/frontend/src/components/PeoplePanel.js
  serving/frontend/src/components/index.js
  serving/frontend/src/pages/SelectPerson.js
  serving/frontend/src/pages/SelectVideo.js
Labels: Serving, FE

#86 [Feat] Change code for making timelines
  model/final_shorts/final_timeline.py
  model/laughter/laughter_detector/laughter_detector.py
  serving/backend/app/ml/final_shorts/final_timeline.py
  serving/backend/app_laughter/ml/laughter_detector/laughter_detector.py
Labels: Modeling

#88 [Feat] Making shorts with ffmpeg-python
  serving/backend/app/ml/final_shorts/final_timeline.py
  serving/backend/app/ml/final_shorts/make_shorts.py
Labels: Serving, BE

#89 [Feat] Frontend 추가 수정
  serving/frontend/public/favicon.ico
  serving/frontend/public/index.html
  serving/frontend/public/logo192.png
  serving/frontend/public/logo512.png
  serving/frontend/src/components/Footer.js
  serving/frontend/src/components/Header.js
  serving/frontend/src/components/PeoplePanel.js
  serving/frontend/src/components/Video.js
  serving/frontend/src/pages/SelectVideo.js
  serving/frontend/src/pages/UploadVideo.js
Labels: Serving, FE

#92 [Refact] Refactoring code & Add docstring
  serving/backend/app/api/face.py
  serving/backend/app/api/video.py
  serving/backend/app/ml/face_functions.py
  serving/backend/app/ml/final_shorts/final_timeline.py
  serving/backend/app/ml/final_shorts/make_shorts.py
  serving/backend/app_laughter/api/laughter.py
  serving/backend/app_laughter/ml/laughter_detection.py
Labels: BE

#94 [Refact] Refactoring FrontEnd
  serving/frontend/src/App.js
  serving/frontend/src/components/PeoplePanel.js
  serving/frontend/src/pages/SelectPerson.js
  serving/frontend/src/pages/SelectVideo.js
  serving/frontend/src/pages/UploadVideo.js
Labels: FE

#95 [Fix] Bug fix in video.py
  serving/backend/app/api/video.py
Labels: Serving, BE

#99 [Fix] Resolve non-reproducible result
  model/recognition/face_recog.py
  serving/backend/app/ml/face_functions.py
  serving/backend/app/ml/face_recognizer/face_recog.py
  serving/backend/app/ml/final_shorts/final_timeline.py
Labels: Bug, Serving, Modeling

#101 [Refact] Add Exception Handling
  serving/backend/app/api/highlight.py
  serving/backend/app/api/video.py
  serving/backend/app/ml/face_functions.py
  serving/backend/app_laughter/api/laughter.py
  serving/backend/app_laughter/ml/laughter_detection.py
  serving/backend/app_laughter/ml/laughter_detector/laughter_detector.py
  serving/frontend/src/components/PeoplePanel.js
  serving/frontend/src/pages/UploadVideo.js
Labels: Serving, FE, BE

#103 [Fix] Add FileNotFoundError to upload-video api
  serving/backend/app/api/highlight.py
  serving/backend/app/api/video.py
  serving/backend/app/ml/face_functions.py
  serving/backend/app_laughter/api/laughter.py
Labels: Serving, BE

#104 [Style] Remove useless code and files
  serving/frontend/config-overrides.js
  serving/frontend/package.json
  serving/frontend/src/App.js
  serving/frontend/src/components/PeoplePanel.js
  serving/frontend/src/components/ScrollToTop.js
  serving/frontend/src/pages/UploadVideo.js
Labels: Serving, FE

#105 [Feat] Merge to main branch
  README.md
  model/README.md
  model/recognition/face_recog.py
  serving/README.md
  serving/backend/app/api/highlight.py
  serving/backend/app/api/video.py
  serving/backend/app/ml/face_functions.py
  serving/backend/app/ml/face_recognizer/face_recog.py
  serving/backend/app/ml/final_shorts/final_timeline.py
  serving/backend/app_laughter/api/laughter.py
  serving/backend/app_laughter/ml/laughter_detection.py
  serving/backend/app_laughter/ml/laughter_detector/laughter_detector.py
  serving/frontend/config-overrides.js
  serving/frontend/package.json
  serving/frontend/src/App.js
  serving/frontend/src/components/PeoplePanel.js
  serving/frontend/src/components/ScrollToTop.js
  serving/frontend/src/pages/UploadVideo.js
Labels: Serving, FE, BE
